
@model đồ_án.Models.View_Model.HomeProductVM
@using PagedList.Mvc
<link href="~/Content/css/sanPham.css" rel="stylesheet" />
<div class="item-header">
    <img src="~/Content/img/HomeImg/ball.png" />
    <h2>Phụ Kiện Bóng Đá</h2>
</div>
<section class="container-fluid products-list">
    @foreach (var product in Model.PhukienProducts)
    {
        if (product.CategoryID == 4)
        {
            <div class="item-container">
                <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductID })">
                    <img class="item-img" src="@product.ProductImage" />
                    <div class="card-body">
                        <p class="prodPrice text-truncate">
                            @product.ProductPrice
                        </p>

                        <p class="prodName text-truncate">
                            @product.ProductName
                        </p>

                        <p class="prodSale text-truncate">
                            Đã bán: &nbsp; @product.OrderDetail.Count
                        </p>
                    </div>
                </a>
            </div>
        }
    }
</section>